:root{
    font-family: Alice;
}

body {
    background-image: url(./assets/bg-image.png);
    background-size: cover;
}

.box {
    background-color: #F0E8C2;
    width: 800px;
    height: 1440px;
    margin: auto;
    border-radius: 24px;
    padding-top: 24px;
    box-sizing: border-box;
    overflow: hidden;
}

.text {
    padding: 0px 48px 48px 48px;
}


h1 , h2{
    font-size: 40px;
    line-height: 140%;
    font-weight: 400;
    color: #291B1A;

}

h2{
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: #291B1A;
}

p {
    font-size: 16px;
    line-height: 150%;
    font-weight: 160;
    color: #573A37;
}

footer {
    display: flex;
    justify-content: center;
    color: #F0E8C2;
    padding-bottom: 48px;
    padding-top: 24px;
}

footer img {
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
}



.box img {
    display: block;
    width: 752px;
    margin: 0 auto;
    border-radius: 16px;
}

